.component9 {
    width: 100vw;
    height: 882px;
    position: relative;
    min-width: 1200px;
    background-color: #222533;
    min-height: 790px;
}
.main7 {
    height: 784.7px;
    width: 1170px;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%);
}
.title6 {
    width: 100%;
    height: 130px;
}
.upper2 {
    font-family: 'Lato';
    font-weight: 300;
    font-size: 36px;
    text-align: center;
    color: white;
}
.lower2 {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 15px;
    color: #E8E8E8;
    text-align: center;
    line-height: 24px;
}
.flex0 {
    width: 100%;
    height: 654.7px;
    display: flex;
    justify-content: space-between;
}
.flex01 {
    height: 100%;
    width: 299.91px;
    display: flex;
    flex-direction: column;
}
.flex02 {
    height: 100%;
    width: 446px;
    background-color: #A1B1BC;
    border-top-right-radius: 6%;
    border-top-left-radius: 6%;
}
.cell1 {
    width: 100%;
    height: 166px;
    position: relative;
}
.first1 {
    margin-top: 90px;
}
.title7 {
    font-family: 'Lato';
    font-weight: 700px;
    font-size: 18px;
    color: white;
    text-align: right;
    margin-right: 60px;
    margin-top: 11.6px;
}
.cyrcle1 {
    position: absolute;
    right: 0%;
    top: 0%;
    width: 50px;
    height: 50px;
    background-color: #1FDAB5;
    border-radius: 50%;
}
.text5 {
    margin-top: 26.2px;
    text-align: right;
    font-family: 'Lato';
    font-size: 14px;
    font-weight: 400;
    color: white;
    line-height: 24px;
}

#check {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 20px;
}
.title7flip {
    font-family: 'Lato';
    font-weight: 700px;
    font-size: 18px;
    color: white;
    text-align: left;
    margin-left: 60px;
    margin-top: 11.6px;
}
.cyrcle1flip {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 50px;
    height: 50px;
    background-color: #1FDAB5;
    border-radius: 50%;
}
.text5flip {
    margin-top: 26.2px;
    text-align: left;
    font-family: 'Lato';
    font-size: 14px;
    font-weight: 400;
    color: white;
    line-height: 24px;
}