* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.component1 {
    width: 100vw;
    height: 100vh;
    background-color: #222533;
    position: relative;
    min-width: 1200px;
    min-height: 550px;
}
.header {
    min-width: 1200px;
    height: 320px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.header h1{
    font-family: 'Lato';
    font-weight: 400;  
    font-size: 30px;
    color: white;
    letter-spacing: 9px;
    text-align: center;
}
.header span {
    color: #1ABC9C;
}
.header h2 {                   
    margin-top: 3px;
    color: white;
    font-family: 'Lato';
    font-weight: 900;
    font-size: 60px;
    text-align: center;
}
.header h3{                     
    color: white;
    text-align: center;
    font-family: 'Lato';
    font-weight: 100;
    font-size: 30px;
    margin-top: 6.7px;
}
.button {
    margin-top: 43.5px;
    width: 200px;
    height: 60px;
    font-family: 'Lato';
    font-weight: 900;
    font-size: 19px;
    color: white;
    background-color: transparent; 
    border: 2px solid white;
    box-sizing: border-box;
}
.first {
    margin-left: 385.9px;
    border-radius: 2px;   
}
.second {
    margin-left: 20px;
    border-radius: 2px;
    background-color: #1ABC9C;
    border: none;
}
.cyrcles {
    width: 86px;
    height: 14px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
.cyrcle {
    width: 14px;
    height: 14px;
    background-color: white;
    border: 1px solid #DDDDDD;
    border-radius: 50%;
    box-sizing: border-box;
}
.inner {
    width: 6px;
    height: 6px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.cyrcle:hover .inner{
    background-color: #1ABC9C;
}




