.component12 {
    width: 100vw;
    height: 789px;
    background-color: white;
    min-width: 1200px;
    position: relative;
    min-height: 600px;
}
.main10 {
    height: 600px;
    width: 1185px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.title11 {
    font-family: 'Lato';
    font-weight: 300;
    font-size: 36px;
    color: #2C3E50;
    text-align: center;
}
.text8 {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 14px;
    color: #A1B1BC;
    line-height: 24px;
    text-align: center;
    padding-top: 11.4px;
}
.list2 {
    width: 100%;
    height: 456px;
    position: absolute;
    bottom: 0%;
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 15px;
    grid-row-gap: 45.9px;
}
.box1 {
    display: flex;
}
.shape2 {
    margin-top: 4px;
    height: 200px;
    width: 170px;
    background-color: #CCCCCC;
}
.textbox2 {
    height: 100%;
    width: 181.23px;
    margin-left: 19px;
}
.title12 {
    font-family: 'Lato';
    line-height: 27px;
    font-size: 18px;
    font-weight: 700;
    color: #2C3E50;
    padding-top: 0px;
}
.innertext1 {
    padding-top: 10px;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 14px;
    color: #A1B1BC;
}
.icon1 {
    font-size: 15px;
    color: #1ABC9C;
    padding-right: 10px;
    padding-top: 2px;
}
.shape2:hover {
    background-color: #2C3E50;
}